//colors
$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//font family

$font-mont: "Montserrat", sans-serif;
$font-fraun: "Fraunces", serif;

$border-rds: 10px;
